@{
    ViewBag.Title = "添加物流信息";
    Layout = null;
}
<!DOCTYPE html>
<html>
@*
    <head>
        <title>添加物流信息</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            html {
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
        @*
        <script src="~/Scripts/js/jquery.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/js/kendo.all.min.js"></script>
        <script src="~/Scripts/js/cultures/kendo.culture.zh-CN.min.js"></script>
        <link href="~/Kendo/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.rtl.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    </head>*@
<body>
    <div id="addTransportList" data-role="view" data-title="填写配送单" data-reload="true">
        <div id="tabstrip-profile" class="wrapperAddTranspList">
            <form @*action="" *@ method="post" id="transportForm" name="transportForm" enctype="multipart/form-data">
                <fieldset>
                    <div class="form-wrapAddTranspList">
                        <div class="label">
                            <div> <h4>物流名称：<span id="showDistributionNameTips" style="color:red; font-size:0.8px; font-weight:100"></span> </h4> </div>
                            @if (ViewBag.OrderId != -1)
                            {
                                <input id="distributionName" class="input long " type="text" name="distributionName" placeholder="物流名称不能为空" value=@ViewBag.OrderName />
                            }
                            else
                            {
                                <input id="distributionName" class="input long " type="text" name="distributionName" placeholder="物流名称不能为空" value="" />
                            }
                        </div>

                        <div class="label">
                            @if (ViewBag.OrderId != -1)
                            {
                                <div><h4>订单号：<span id="showOrderIdTips" style="color:red; font-size:0.8px; font-weight:100"></span></h4></div>
                                <input id="orderID" class="input long" type="text" name="orderID" placeholder="订单号" value=@ViewBag.OrderId readonly="readonly" />
                            }
                            else
                            {
                                <div><h4>收货公司：<span id="showConsigneeTips" style="color:red; font-size:0.8px; font-weight:100"></span></h4></div>
                                <input id="consignee" class="input long" type="text" name="consignee" placeholder="收货单位" value="" />

                            }
                        </div>
                        <div class="label">
                            @if (ViewBag.OrderId != -1)
                            {
                                <div><h4>收货公司：<span id="showConsigneeTips" style="color:red; font-size:0.8px; font-weight:100"></span></h4></div>
                                <input id="consignee" class="input long" type="text" name="consignee" placeholder="收货单位" value=@ViewBag.publishEnterpriseName />
                            }
                            else
                            {
                                <div><h4>订单号：<span id="showOrderIdTips" style="color:red; font-size:0.8px; font-weight:100"></span></h4></div>
                                <input id="orderID" class="input long" type="text" name="orderID" placeholder="订单号" value="" typeof="droplist" />
                            }
                        </div>
                        <div class="label">
                            <div><h4>发货地址：<span id="showSourceAddressTips" style="color:red; font-size:0.8px; font-weight:100"></span></h4></div>
                            <input id="sourceAddress" class="input long" type="text" name="sourceAddress" value=@ViewBag.provideEnterpriseAddress placeholder="发货地址" />
                        </div>
                        <div class="label">
                            <div><h4>收货地址：<span id="showDistributionAddressTips" style="color:red; font-size:0.8px; font-weight:100"></span></h4></div>
                            @if (ViewBag.OrderId != -1)
                            {
                                <input id="distributionAddress" class="input long" type="text" name="distributionAddress" value=@ViewBag.publishEnterpriseAddress placeholder="收货地址" />
                            }
                            else
                            {
                                <input id="distributionAddress" class="input long" type="text" name="distributionAddress" placeholder="收货地址" />
                            }
                        </div>
                        <div class="label">
                            <div><h4>发货数量：<span id="showDistributionAmountTips" style="color:red; font-size:0.8px; font-weight:100"></span></h4></div>
                            <input id="distributionAmount" class="input long" type="text" name="distributionAmount" placeholder="发货数量" value="0" />
                        </div>
                        <div class="label">
                            <div><h4>物流描述：<span id="showDistributionContentTips" style="color:red; font-size:0.8px; font-weight:100"></span></h4></div>
                            <textarea id="distributionContent" class="input long" cols="40" rows="8" name="distributionContent" placeholder="物流描述"></textarea>
                        </div>
                        <div class="label">
                            <div><h4>物流状态：<span id="showDistributionStateTips" style="color:red; font-size:0.8px; font-weight:100"></span></h4></div>
                            <input id="distributionState" class="input long" type="text" name="distributionState" placeholder="物流状态" value="0" />
                        </div>
                        @*<div class="label">
                                <h4>物流生成时间：</h4>
                                <input id="createdTime" class="input long" type="text" name="createdTime" placeholder="物流生成时间" />
                            </div>
                            <div class="label">
                                <h4>物流发出时间：</h4>
                                <input id="sendTime" class="input long" type="text" name="sendTime" placeholder="物流发出时间" />
                            </div>*@
                        <div class="submitAndReset">
                            <div id="infoSubmit" class="more-btn more-btn-no-pd">
                                <input id="submitButton" onclick="submitform()" value="提交" data-role="button">
                            </div>
                            <div id="infoReset" class="more-btn more-btn-no-pd">
                                <input id="resetButton" onclick="reset()" value="重置" data-role="button">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <script>
            // $(document).ready(function () {
            //String.prototype.GetValue = function (para) { //将url ？ 后面的链接以&符号进行分割
            //    var reg = new RegExp("(^|&)" + para + "=([^&]*)(&|$)");
            //    var r = this.substr(this.indexOf("\?") + 1).match(reg);
            //    if (r != null) return unescape(r[2]); return null;
            //}
            //// var str = location.search;  //获取当前页面url？后面的数值
            //var str = window.location.href;
            //str = decodeURI(str);   //对url进行解码
            //var category = str.GetValue("category");  //区分公司是否为接收方
            //var orderId = str.GetValue("orderId");  //获取搜索的值
            var orderId = "@ViewBag.OrderId";
            var category = "@ViewBag.Category"

            // console.log("orderId = " + orderId + "  ViewBag.OrderId = " + '@ViewBag.OrderId');

            if (orderId == -1) {
                var getOrderIDByProviEnterp = new kendo.data.DataSource({
                    transport: {
                        read: {
                            type: "POST",
                            url: "/Transportation/GetOrderID",
                            data:
                                {
                                    orderId: orderId,
                                    category: category,
                                },
                            dataType: "json"
                        }
                    },
                });
                //getOrderIDByProviEnterp
                //从后台获取当前商户未完成配送的订单号的下拉列表
                // create DropDownList from input HTML element
                //$("#orderID").kendoComboBox({
                $("#orderID").kendoDropDownList({
                    placeholder: "请选择...",
                    dataTextField: "publisherEnterpriseNameAndOrderId",  //订单商户以及订单号
                    dataValueField: "orderID",  //订单号（订单表的id）
                    dataSource: getOrderIDByProviEnterp,
                    suggest: true,
                    filter: "contains",
                });

                $("#consignee").kendoAutoComplete({
                    dataTextField: "publisherEnterpriseName", //这个字段会用在搜索建议时。
                    filter: "contains",   //设置过滤器，这个筛选方法用于决定当前值的建议，默认值是"startswith"，另外还有endswith 和 contains.
                    minLength: 1, //用户在执行搜索之前就必须键入元素的最小值，如果搜索结果匹配值太多，可以将值设置高一点（大于1）
                    placeholder: "请输入收货公司。", //当提示为空时会显示占位符，默认情况下无设置。
                    suggest: true, //如果设置为true，组件会自动使用第一个建议作为它的值。
                    dataSource: getOrderIDByProviEnterp,
                });
            }

            /*物流状态，配送单生成状态0，配送状态1代表发货未接收，2代表接收方已经接收*/
            var distributionStateData = [
                   { text: "物流已生成", value: "0" },
                   { text: "物流已发出", value: "1" }
            ];

            // create DropDownList from input HTML element
            $("#distributionState").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: distributionStateData,
                index: 0
            });

            /*发货数量*/
            $("#distributionAmount").kendoNumericTextBox({
                min: 1,
            });

            /*重置表单*/
            function reset() {
                document.getElementById('transportForm').reset();
            }

            /*表单数据提交*/
            function submitform() {
                if (document.transportForm.distributionName.value.length == 0) {
                    var showTips = document.getElementById('showDistributionNameTips');
                    showTips.innerText = "物流名称不能为空";
                    document.transportForm.distributionName.focus();
                    return false;
                }
                // orderID   sourceAddress
                if (document.transportForm.consignee.value.length == 0) {
                    var showTips = document.getElementById('showConsigneeTips');
                    showTips.innerText = "收货公司不能为空";
                    document.transportForm.consignee.focus();
                    return false;
                }
                if (document.transportForm.distributionAddress.value.length == 0) {
                    var showTips = document.getElementById('showDistributionAddressTips');
                    showTips.innerText = "收货地址不能为空";
                    document.transportForm.distributionAddress.focus();
                    return false;
                }
                if (document.transportForm.distributionAmount.value.length == 0) {
                    var showTips = document.getElementById('showDistributionAmountTips');
                    showTips.innerText = "发货数量不能为空";
                    document.transportForm.distributionAmount.focus();
                    return false;
                }
                if (document.transportForm.distributionContent.value.length == 0) {
                    var showTips = document.getElementById('showDistributionContentTips');
                    showTips.innerText = "物流描述不能为空";
                    document.transportForm.distributionContent.focus();
                    return false;
                }
                //if (createdTime == "") {
                //    document.getElementById("createdTime").placeeholder = "请选择时间";
                //    //quickTips("createdTime", "请选择时间");
                //    return;
                //}
                //if (sendTime == "") {
                //    document.getElementById("sendTime").placeeholder = "请选择发货时间";
                //    // quickTips("sendTime", "请选择发货时间");
                //    return;
                //}

                //alert($('#transportForm').serialize());
                $.ajax({
                    url: "/Transportation/addTransportInforToDatabase",
                    method: "POST",
                    data: $('#transportForm').serialize(),

                    error: function (request) {
                        console.info(request);
                        alert("Connection error");
                    },
                    success: function (msg) {
                        kendo.mobile.application.replace("/../Transportation/showAddSuccess?msg=" + msg, "slide");
                    }
                });
            }
        </script>


        <style scoped>
            .form-wrapAddTranspList .label h4 {
                font-size: 1.5em;
                font-weight: bold;
                margin: 5px 0px 8px 10px;
            }

            .wrapperAddTranspList {
                min-width: 300px;
                padding: 0 0px;
                overflow: hidden;
                position: relative;
                background-color: #efeff4;
            }

            .form-wrapAddTranspList .input {
                width: 100%;
                height: 36px;
                line-height: 1;
                float: left;
                padding: 0 0px;
                border: 1.5px solid #d4d4d4;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                font-size: 16px;
                color: #666;
            }

            .form-wrapAddTranspList .long {
                width: 100%;
            }

            .form-wrapAddTranspList .input-error {
                border: 1px solid #cc0000;
            }

            .form-wrapAddTranspList .label {
                width: 100%;
                margin: 15px 0;
                display: block;
                overflow: hidden;
            }

                .form-wrapAddTranspList .label em {
                    width: 20%;
                    height: 44px;
                    float: right;
                    display: block;
                    cursor: pointer;
                    background: #1a7cd2 url(images/icon_form.png) center -64px no-repeat;
                }

                .form-wrapAddTranspList .label b {
                    float: left;
                    line-height: 2em;
                    color: #666;
                    font-weight: normal;
                }

            .submitAndReset {
                width: 100%;
                float: left;
            }

            .more-btn {
                border-width: 1px;
                border-color: #83FF60;
                padding: 0 10px;
                margin: 10px 0;
                overflow: hidden;
            }

                .more-btn a {
                    /*width: 100%;*/
                    height: 45px;
                    line-height: 45px;
                    display: block;
                    border: 1px solid #1a7cd2;
                    border-radius: 8px;
                    text-align: center;
                    font-size: 16px;
                    color: #0094ff;
                    background: white;
                    text-decoration: none;
                    /* background:#1a7cd2;*/
                }

                    .more-btn a:active {
                        text-decoration: underline;
                        background: #1a7cd2;
                    }

            .more-btn-no-pd {
                padding: 0px;
            }

            #infoSubmit {
                width: 45%;
                float: left;
            }

            #infoReset {
                width: 45%;
                float: right;
            }

            .transportList {
                width: 320px;
                height: 26px;
                line-height: 14px;
                vertical-align: middle;
                text-align: center;
                font-family: "Microsoft Yahei";
                font-size: 16px;
            }
        </style>
    </div>

</body>
</html>