@{
    ViewBag.Title = "物流详情";
}
<!DOCTYPE html>
<html>
@*<head>
        <title>物流详情</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            html {
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
        <script src="~/Scripts/js/jquery.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/js/kendo.all.min.js"></script>
        <link href="~/Kendo/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.rtl.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href="~/Content/themes/website-searchbox.css" rel="stylesheet" />
        <link href="~/Content/themes/div-item.css" rel="stylesheet" />
    </head>*@
<body>
    <div id="actionsheet-view" data-role="view" data-title="货物单列表" data-reload="true">
        <div id="myheaderTransport" style="margin-top:2px">

            <form id="searchFormTransport" @*action=""*@ method="post" onsubmit=false>
                <div style="list-style-type:none">
                    <div id="searchoutTransport">
                        <div>
                            <div id="searchformTransport">
                                <input id="search_inputTransport" type="text" name="search" />
                                <input id="searchbuttonTransport" onclick="searchToTransport()" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />
        </div>
        <div style="margin-top: 10px">
            <ul id="listsource" class="inboxListTranportIndex" data-role="listview" data-source="TransportSource"
                data-endless-scroll="false" data-template="transportItem"></ul>
        </div>


        <script id="transportItem" type="script/x-kendo-template">
        <div class="item">
            <div class="item-inside">
                <p1> 物流编号：#: distributionId#</p1>
            </div>
            # if( category == 0){#
                <h4> 发货方：#: consignor# </h4>
            #} else if( category == 1){#
                <h4> 收货方：#: consignee# </h4>
            #}#
            <h4> 物流状态：#: status# </h4>

        <div class="item-insideTransportIndex">
                <a class="replyTransportIndex" data-role="button" onclick=logisticsContent(#:distributionId#)> 物流详情 </a>
                # if(status == "配送单生成" && category == 1){#
                    <a id  = "changeState" data-role="button" class="replyTransportIndex"
                            name = "changeState"  target="_self"
                            @*data-click="changeState"*@
                            onclick = changeState(#:distributionId#)
                            value="#:distributionId#"> 点击发货</a>
                 # } else if (status == "物品已经发货" && category == 0){#
                        <a id= "deliveryGoods" data-role="button"class="replyTransportIndex"
                            name = "deliveryGoods"
                            @*data-click="deliveryGoods"*@
                            onclick = deliveryGoods(#:distributionId#)
                            value="#:distributionId#">确认收货</a>
                 #}#
             </div>
        </div>
        </script>

        <script>
            //String.prototype.GetValue = function (para) { //将url ？ 后面的链接以&符号进行分割
            //    var reg = new RegExp("(^|&)" + para + "=([^&]*)(&|$)");
            //    var r = this.substr(this.indexOf("\?") + 1).match(reg);
            //    if (r != null) return unescape(r[2]); return null;
            //}
            //// var str = location.search;  //获取当前页面url？后面的数值
            //var str = window.location.href;
            //str = decodeURI(str);   //对url进行解码
            //searchValue = str.GetValue("searchValue");  //获取搜索的值
            //console.log($.trim($("#changeState").val()));
            /*用于对form表单-搜索框表单-禁用按回车键搜索
            */
            $("#searchForm").keypress(function (e) {
                if (e.which == 13) {
                    return false;
                }
            });

            var category = "@ViewBag.Category";
            var searchValue = "@ViewBag.SearchValue";  //文本框中的输入的内容

            if (searchValue == null || searchValue == "") {
                searchValue = "notsearch";
            }

            function searchToTransport() {
                searchValue = $.trim($("#search_inputTransport").val());
                if (searchValue.length != 0) {
                    //跳转到链接并对整个链接进行编码， searchValue 为文本框中输入的值 kendo.mobile.application.replaceapp.navigate(window.location.pathname
                    app.navigate(encodeURI("/../Transportation/Index" + '?category=' + category
                        + '&searchValue=' + searchValue), "slide");
                } else {
                    searchValue = "notsearch";
                    app.navigate(encodeURI("/../Transportation/Index" + '?category=' + category
                        + '&searchValue=' + searchValue), "slide")
                    //console.info('&searchValue22222=' + searchValue);
                }
            }

            var TransportSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        type: "POST",
                        url: "/Transportation/GetTransportList",
                        data:
                                    {
                                        category: category,
                                        searchValue: searchValue,
                                    },
                        dataType: "json"
                    }
                },
            });

            function logisticsContent(distributionId) {
                var urlbase = "/../Transportation/TransportDetails?distributionID=";
                urlbase += distributionId;
                urlbase += "&category=" + category;
                app.navigate(urlbase, "slide");
            }

            function deliveryGoods(distributionId) {       //确认收货
                $.ajax({
                    url: "/Transportation/changeTransportState",
                    method: "POST",
                    data: {
                        state: 2,   //确认收货状态
                        distributionId: distributionId
                    },
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (msg) {
                        app.navigate("/../Transportation/showAddSuccess?msg=" + msg);
                    }
                })
            }

            function changeState(distributionId) {  //开始发货
                $.ajax({
                    url: "/Transportation/changeTransportState",
                    method: "POST",
                    data: {
                        state: 1,  //开始发货状态
                        distributionId: distributionId
                    },
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (msg) {
                        app.navigate("/../Transportation/showAddSuccess?msg=" + msg);
                    }
                })
            }
        </script>
    </div>
    <style scoped>
        .replyTransportIndex {
            float: right;
            margin-right: 10px;
            /*margin: 1.9em 2.7em 0.5em 0.7em;*/
        }

        .item-insideTransportIndex {
            width: 95%;
            height: 35px;
            border-top: 2px solid #efeff4;
            margin: 20px 10px 10px 10px;
            border-bottom: 0px solid #efeff4;
            background-color: #fff;
        }

        .inboxListTranportIndex {
            font-size: .8em;
        }

            .inboxListTranportIndex p,
            .inboxListTranportIndex h2,
            .inboxListTranportIndex h3 {
                margin: 5px 2px;
            }

            .inboxListTranportIndex p,
            .inboxListTranportIndex h3 {
                color: #777;
            }

                .inboxListTranportIndex h3.time {
                    color: #369;
                    float: left;
                    margin-right: 10px;
                }

        #myheaderTransport {
            width: 96%;
            margin: 0px auto;
        }

        #searchFormTransport {
            border: 2px,solid,rgba(213, 213, 213, 0.4);
            /*width: 95%;*/
            width: auto;
            height: 20px;
            margin: 0px auto;
            /*float: none;*/
            border-radius: 5px;
        }

        #searchoutTransport {
            width: inherit;
        }

        #searchformTransport {
            width: 100%;
            /*width:auto;*/
            background: #eee;
            margin: 0px auto 0;
            float: left;
        }

        #search_inputTransport {
            width: 100%;
            /*width:auto;*/
            margin-left: 0px;
            padding-right: 0px;
            height: 30px;
            float: left;
            padding-left: 0px;
            border-left: none;
            border-right: none;
            border-radius: 5px;
            outline: 0;
            background-color: rgba(220, 220, 220, 1.0);
            font-family: "微软雅黑";
            font-size: 17px;
            color: #464646;
            /*position: relative;*/
            z-index: 1;
        }

        #searchbuttonTransport {
            width: 50px;
            height: 30px;
            margin-left: 0px;
            margin-top: -30px;
            float: right;
            border-left: none;
            background-color: rgba(210, 210, 210, 0);
            background-image: url('../../Content/themes/base/images/search4.png');
            background-size: 40%;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: center;
        }

            #searchbuttonTransport:hover {
                background-color: rgba(213, 213, 213, 1);
            }

            #searchbuttonTransport:active {
                background-color: rgba(200, 200, 200, 1);
            }
    </style>
    @*<script>
            var app = new kendo.mobile.Application(document.body,
            {
                platform: 'IOS'
            });
        </script>*@
</body>
</html>
